<article class="project">
    <!-- project view -->
    <div class="project-text">
        <div class="project-title">
            {{#if project.url}}
                <a rel="nofollow" target="_blank" href="{{project.url}}">
                    {{project.title}}<i class="fas fa-link"></i>
                </a>
            {{else}}
                <h2>{{project.title}}</h2>
            {{/if}}
        </div>
        <div class="project-role">
            {{project.role}}
        </div>
        <div class="project-description">
            {{{project.post.content}}}
        </div>
        <!-- project apps -->
        <div class="project-stores">
            {{#each project.apps as |app|}}
                <a class="store.type" target="_blank" href="{{app.href}}">
                    {{#is app.type "app-store"}}
                        <img src="assets/badges/app-store-badge.svg" alt="{{app.type}} app link">
                    {{/is}}
                    {{#is app.type "google-play"}}
                        <img src="assets/badges/google-play-badge.svg" alt="{{app.type}} app link">
                    {{/is}}
                    {{#is app.type "amazon"}}
                        <img src="assets/badges/available-at-amazon-badge.svg" alt="{{app.type}} app link">
                    {{/is}}
                </a>
            {{/each}}
        </div>

        <div class="project-technologies">
            <div class="technologies-title">Technologies</div>
            {{> "components/tech-tags" technologies=project.technologies }}
        </div>
    </div>

    <!-- project gallery -->
    <div class="project-gallery {{project.post.gallery.orientation}} {{project.post.gallery.boxType }}">
        <div class="{{project.post.gallery.boxType }}-box">
            {{#each project.post.gallery.items as |media|}}
                {{#is media.type "image"}}
                    <!-- project image -->
                    <img src="{{media.href}}" alt="{{../project.title}} project picture">
                {{/is}}
                {{#is media.type "video"}}
                    <!-- project video -->
                    <video controls>
                        <source src="{{media.href}}" type="video/mp4">
                    </video>
                {{/is}}
            {{/each}}
        </div>
    </div>
</article>
