<article class="project">
    <!-- project view -->
    <div class="project-text">
        <div class="project-title">
            {{#if project.url}}
                <a rel="nofollow" target="_blank" href="{{project.url}}">
                    {{project.title}}<i class="fas fa-link"></i>
                </a>
            {{else}}
                <h2>{{project.title}}</h2>
            {{/if}}
        </div>
        <div class="project-role">
            {{project.role}}
        </div>
        <div class="project-description">
            {{{project.post.content}}}
        </div>
        <div class="project-technologies">
            <div class="technologies-title">Technologies</div>
            {{> "components/tech-tags" technologies=project.technologies }}
        </div>
    </div>
    <!-- project image -->
    <div class="project-image">
        <img src="{{project.post.image}}" alt="{{project.name}} project picture">
    </div>
</article>
