<article class="project">
    <!-- project post -->
    <div class="project-post">
        <div class="project-title">
            {{#if project.url}}
                <a rel="nofollow" href="{{project.url}}">
                    {{project.title}}<i class="fas fa-link"></i>
                </a>
            {{else}}
                <h2>{{project.title}}</h2>
            {{/if}}
        </div>
        <div class="project-role">
            {{project.role}}
        </div>
        <div class="project-description">
            {{{project.post.content}}}
        </div>
    </div>
    <!-- project gallery -->
    {{> "components/project-gallery" gallery=project.post.gallery }}
    <!-- project applications -->
    {{#if project.apps}}
        <div class="project-stores">
            {{#each project.apps as |app|}}
                <a class="store.type" href="{{app.href}}">
                    {{#is app.type "app-store"}}
                        <img src="img/badges/app-store-badge.svg" alt="{{app.type}} app link">
                    {{/is}}
                    {{#is app.type "google-play"}}
                        <img src="img/badges/google-play-badge.svg" alt="{{app.type}} app link">
                    {{/is}}
                    {{#is app.type "amazon"}}
                        <img src="img/badges/amazon-badge.svg" alt="{{app.type}} app link">
                    {{/is}}
                </a>
            {{/each}}
        </div>
    {{/if}}
    <!-- project technologies -->
    <div class="project-technologies">
        <div class="technologies-title">Technologies</div>
        {{> "components/tech-tags" technologies=project.technologies }}
    </div>
</article>
