<section class="row color-group red-bricks">
  <h2>Red</h2>
  {{#each-in model as |size brick|}}
    <div class="col-md-4 well">
      <p>Size: {{size}}</p>
      <p>Price: {{brick.price}}</p>
      <p>Quantity: {{brick.quantity}}</p>
      <button {{action 'addToCart' 'red' size brick.price}}>Add to Cart</button>
    </div>
  {{/each-in}}
</section>

{{outlet}}
